<p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>{{ 'Email' | translate }}</th>
      <th>{{ 'FirstName' | translate }}</th>
      <th>{{ 'LastName' | translate }}</th>
      <th>{{ 'Archived' | translate }}</th>
      <th>{{ 'Actions' | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.isDelete ? 'Yes' : 'No' }}</td>
      <td>
        <div class="flex align-items-center flex-wrap gap-1">
          <p-button
            icon="pi pi-times"
            severity="danger"
            class="p-button-danger w-full"
            (onClick)="removeUser(user, $event)"
          ></p-button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
