<div *ngIf="languages.length > 0" class="grid">
  <div
    class="w-100 mt"
    *ngFor="let lang of languages; let i = index"
  >
    <p-card class="language-card">

      <div class="my-2">
        <div class="header-content flex justify-content-between align-items-center">
          <span class="font-bold text-lg">{{ lang.languageName }}</span>
          <span class="text-sm text-muted">({{ lang.languageCode }})</span>
        </div>

        <p><strong>{{ 'Version' | translate }}:</strong> {{ lang.version }}</p>
      </div>

      <div class="flex align-items-center flex-wrap gap-1">
        <p-fileUpload
          mode="basic"
          name="jsonFile"
          accept=".json"
          customUpload="true"
          (uploadHandler)="uploadJson($event, lang.languageCode)"
          [chooseLabel]="'UploadJSON' | translate"
          class="w-full"
        ></p-fileUpload>

        <p-button
          [label]="'DownloadJSON' | translate"
          icon="pi pi-download"
          class="p-button-info w-full"
          (onClick)="downloadJson(lang.languageCode)"
        ></p-button>

        <p-button
          [label]="'Remove' | translate"
          icon="pi pi-trash"
          class="p-button-danger w-full"
          (onClick)="removeLanguage(lang.languageCode)"
        ></p-button>
      </div>
    </p-card>
  </div>

  <div class="flex justify-content-end w-100 mt">
    <p-button
      [label]="'AddLanguage' | translate"
      icon="pi pi-plus"
      class="p-button-danger w-full"
      (onClick)="openOrCloseAddLanguageDialog()"
    ></p-button>
  </div>
</div>

<p-dialog
  #dialog
  [header]="'AddLanguage' | translate"
  [(visible)]="addLanguageDialogIsOpened"
  [modal]="true"
  [style]="{width: '350px'}"
  [closable]="true">

  <div class="p-fluid flex flex-direction-column gap-1">
    <div class="p-field">
      <label for="langName">{{ 'LanguageName' | translate }}</label>
      <input id="langName" type="text" pInputText [(ngModel)]="languageName" name="langName" />
    </div>

    <div class="p-field">
      <label for="langCode">{{ 'LanguageCode' | translate }}</label>
      <input id="langCode" type="text" maxlength="2" pInputText [(ngModel)]="languageCode" name="langCode" />
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      [label]="'Add' | translate"
      icon="pi pi-check"
      (onClick)="addLanguage($event, dialog)"
      class="p-button-success">
    </p-button>
  </ng-template>
</p-dialog>
