@use "functions";
@use "helpers";
@use "mixins";
@use "variables/common";

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.analytics-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  gap: 50px;
}

// login

.login-fields {
  gap: 25px;
  padding: 0 25px;

  input {
    width: 100%;
  }
}
