<div class="verify-container">
  <p-card [header]="'EmailVerification' | translate" styleClass="verify-card">
    <form [formGroup]="verifyForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid">
        <div class="p-field">
          <label>{{ 'EnterCode' | translate }}</label>
          <input pInputText formControlName="code" />
        </div>
        <div class="mt">
          <button type="submit" pButton [label]="'Verify' | translate" [disabled]="verifyForm.invalid"></button>
        </div>
      </div>
    </form>
  </p-card>
</div>
